@charset "UTF-8";
/*变量*/
@adapterDeviceList:750px,720px,640px,540px,480px,424px,414px,400px,384px,375px,360px,320px;
//设计稿尺寸
@psdWidth:750px;
//预设基准值
@baseFontSize:100px;
@len:length(@adapterDeviceList);
//主体颜色
@snColor:#fabc09;